@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: black;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}
body {
     max-width: 980px;
     margin: auto;
}
.header {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
header .main-menu {
    display: flex;
    min-width: 100%;
    position: center;
    list-style-type: none;
    justify-content: space-around;
    margin: 0 0 1rem ;
    flex:1;
}
header .main-menu li {
    display: flex;
}
header .main-menu li a {
    text-decoration: none;
    flex:1;
    color: var(--main-color);
    border: solid 1px  black;
    border-radius: 20%;
    padding: 5px 10px 5px 10px;
}

header .main-menu li a:hover {
   border: 1px solid var(--main-color);
   background-color: gainsboro
}
#h1-slogan {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

body main .center-image {
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    position: center;
    left: 0;
    top: 0;
    width: 70%;
    height: auto;
    margin-bottom: 2rem;
 }

.separator-line {
    height: 2px;
    background-color: black;
    margin: 2rem; 
    align-items: center;
}
div.top-sales {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
article {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
div.article-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
   
}
.paragraph {
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
#article {
    display: grid;
    justify-content: stretch;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}
.bottom-form {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.bottom-table {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}
div.map iframe {
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
}

@media (max-width: 500px) {
    header .main-menu {
    display: none;
}   
div.article-section {
    display: grid;
    grid-template-columns: 1fr ;